[2012-04-25 04:54] glassfishrobot opened #55 "How do I maintain Transaction log by Eclipse link 2.0"
How do I maintain Transaction log by Eclipse link 2.0

[2012-08-07 16:30] glassfishrobot opened #56 "portable way to restore XAResources"
[see http://java.net/projects/jta-spec/lists/users/archive/2012-06/message/1 thread for details]

Hi Paul, all,

JTA 1.1 does not mandate, how an XAResource is restored after a system failure for the purpose of
transaction recovery conducted by the transaction manager.

Common suggestions and implementations (e.g. JBoss) use the following strategies:

1\. If the XAResource was acquired by a JNDI-n

[2012-08-20 17:06] glassfishrobot opened #57 "Define timing of delist/end in relation to beforeCompletion"
See [http://java.net/projects/jpa-spec/lists/users/archive/2012-06/message/27](http://java.net/projects/jpa-spec/lists/users/archive/2012-06/message/27) for original detail. In short, define
"
However so far I have been unsuccessful to find out, whether it is portable behavior, for the container to call Transaction.commit() while
there are any XAResource enlisted with this Transaction, where start

[2012-08-20 18:56] glassfishrobot opened #58 "support explicit ordering of commits for XAResources enlisted in a transaction"
As reported here: [http://java.net/jira/browse/JMS_SPEC-28](http://java.net/jira/browse/JMS_SPEC-28) (and originally here: [http://java.net/jira/browse/JAVAEE_SPEC-1](http://java.net/jira/browse/JAVAEE_SPEC-1)) :

Currently there is no standard way how to enforce the ordering of the XAResource commits for the transaction. There are workarounds such as [http://docs.redhat.com/docs/en-US/JBoss_Enter

[2012-08-23 21:16] glassfishrobot opened #59 "support for container-managed transactions independent of (decoupled from) EJB"
As part of better aligning managed bean technology across the
platform, one of the improvements we've targeted for this release
is the extension of "container-managed" transactions (CMT) beyond EJB.

CMT is one of the original ease-of-use facilities of EJB. It entails
the specification of declarative transaction attributes on enterprise
bean classes or methods. The container intercepts the corresp

[2012-08-30 05:59] glassfishrobot opened #60 "Clarify transaction interactions/restrictions in TX Synchronization callbacks"
CDI observers may be registered as JTA synchronization callbacks (same applies to Stateful Session Beans). Nevertheless it is currently not clearly specified which JTA interactions are legal within those callback methods. The current EJB spec contains a few hints, however I believe those clarifications should be part of the JTA spec.

In both cases - CDI observers and Stateful Session Beans - it i

[2012-09-10 19:35] glassfishrobot opened #61 "TransactionScoped annotation for CDI bean scope/lifecycle"
As taken from [http://issues.jboss.org/browse/CDI-121](http://issues.jboss.org/browse/CDI-121) :

Add TransctionalScoped as a standard scope to define beans whose lifecycle is the same as a given transaction.
This scope should start automatically when a transaction starts (but lazily when actually needed).

More details forthcoming in the next couple days...

[2012-10-11 18:54] glassfishrobot opened #62 "specify XAResource(s) transaction timeout value be set to the value of the encompassing JTA transaction's timeout value by default for portability."
specify XAResource(s) transaction timeout value be set to the value of the encompassing JTA transaction's timeout value by default for portability.

[2012-12-10 18:09] glassfishrobot opened #63 "new api for setRollbackOnly so that it can take a nested exception"
Add a new setRollbackOnly(Exception exception) API method to Transaction, TransactionManager, and UserTransaction where the resultant RollbackException later thrown has the exception parameter as a nested exception that can be inspected by the application.

[2013-05-24 17:01] glassfishrobot opened #64 "errata - incorrect @since tag value "JTA 1.3" rather than "JTA 1.2""
The new classes in JTA 1.2 have a typo in their @since tag that reads "JTA 1.3" rather than "JTA 1.2". This has been fixed in svn but must be addressed in an MR.

[2013-08-23 22:12] #55 closed, assigned to glassfishrobot

[2013-08-23 22:13] #59 closed, assigned to glassfishrobot

[2013-08-23 22:14] #61 closed, assigned to glassfishrobot

[2013-08-23 22:15] #64 closed, assigned to glassfishrobot

[2013-08-23 22:17] #57 closed, assigned to glassfishrobot

[2013-08-23 22:48] glassfishrobot opened #65 "elaborate on ordering semantics for Synchronization calls in a distributed transaction"
This is being opened to track the topic and whether it warrants elaborating in the spec.

Email exchange between Paul Parkinson and Ian Robinson...

Paul:

"
Something I've always thought of, especially since the TransactionSynchronizationRegistry was introduced, is whether we should mention anything in the spec about the ordering semantics for Synchronization calls in a transaction that is distri

[2015-02-17 19:02] glassfishrobot opened #66 "specify whether XAResource.end call as a result of delistResource call must be conducted eagerly/immediately"
While most vendors (MQSeries, Tibco, etc.) do not have this requirement, it appears that some (such as HornetQ) require that end be called eagerly as a result of delistResource being called. Whlle section 4.2 of the JTA spec sites this as an example case/implementation it also explains that “This session provides a brief walkthrough of how an application server may handle a connection request from

[2016-02-25 15:37] glassfishrobot opened #67 "Add timeout attribute to the javax.transaction.Transactional annotation"
Add additional method to the @Transactional annotation to set the TX timeout:

public @interface Transactional

{ (...) long timeout(); TimeUnit unit() default TimeUnit.MILLISECONDS; }

[2017-01-25 10:36] glassfishrobot opened #68 "Contradiction in the javadoc of UserTransaction and @Transactional"
There is a contradiction in the JTA spec:

1\. On one hand, the UserTransaction javadoc [1] states that if the thread is already associated with a transaction and the Transaction Manager implementation does not support nested transactions, a NotSupportedException will be thrown.

2\. On the other hand, the javadoc of the Transactional annotation [2] states that if an attempt is made to call any me

[2018-04-12 10:00] glassfishrobot opened #1 "Place holder issue for Pull Request 1"
This is a place holder issue for Pull request from https://github.com/javaee/javax.transaction/pull/1

[2018-04-12 10:00] #1 closed, assigned to nobody

[2018-04-12 10:00] glassfishrobot opened #2 "Place holder issue for Pull Request 2"
This is a place holder issue for Pull request from https://github.com/javaee/javax.transaction/pull/2

[2018-04-12 10:00] #2 closed, assigned to nobody

[2018-04-12 10:00] glassfishrobot opened #3 "Place holder issue for Pull Request 3"
This is a place holder issue for Pull request from https://github.com/javaee/javax.transaction/pull/3

[2018-04-12 10:00] #3 closed, assigned to nobody

[2018-08-07 13:59] m0mus opened #4 "Build CI/CD pipeline"
This task is for creating a basic build CI/CD pipeline for this project on Eclipse infrastructure. More information is here: https://ci.eclipse.org/.

[2018-08-07 14:00] m0mus opened #5 "Release CI/CD pipeline"
We need to create a release CI/CD pipeline for this project.

Use these documents as a reference:

- [How to release the first Eclipse version of projects](https://github.com/eclipse-ee4j/ee4j/wiki/How-to-release-the-first-Eclipse-version-of-projects)
- [JSONP release job](https://github.com/eclipse-ee4j/jsonp/wiki/JSONP-release-job)
- [Release job on the new cloud infra](https://wiki.eclipse.org/

[2018-09-05 10:34] tomjenkinson commented on #4
I have opened a ticket over here: https://bugs.eclipse.org/bugs/show_bug.cgi?id=538637

[2018-09-05 11:15] tomjenkinson commented on #4
@m0mus I don't seem to have permissions to assign this issue to myself (or I assume commit, branch etc) - are you able to direct me somewhere to help with that?

[2018-09-05 11:55] tomjenkinson commented on #4
When I say *this* issue I mean the GitHub one, not the eclipse.org one :)

[2018-09-05 12:01] tomjenkinson commented on #4
I am thinking it was because I didn't have my github account linked in my Eclipse account: https://bugs.eclipse.org/bugs/show_bug.cgi?id=525627 I have added it now and expect the next sync might sort this out..

[2018-09-06 19:30] tomjenkinson commented on #4
@m0mus @eclipsewebmaster is there some way to move https://bugs.eclipse.org/bugs/show_bug.cgi?id=538637 on that you know of? Thanks

[2018-09-06 20:19] m0mus commented on #4
@tomjenkinson Sometimes it takes time to Eclipse folks to address these kind of issues. Lets wait one more day and ping them if there won't be any progress.

[2018-09-11 09:04] tomjenkinson commented on #4
Hi @m0mus as there is still no CI infrastructure who do you think we should ping?

[2018-09-11 10:05] m0mus commented on #4
@tomjenkinson I tried to push it by commenting on the bug.

[2018-09-11 10:47] tomjenkinson commented on #4
Thanks!

[2018-09-13 14:12] tomjenkinson commented on #4
@m0mus just to mention there is still no JIPP available for JTA

[2018-09-13 14:47] m0mus commented on #4
@tomjenkinson I see, I changed the priority on the bug to highest.

[2018-09-13 14:52] tomjenkinson commented on #4
Thanks again

[2018-09-19 11:01] m0mus opened #6 "Change Maven coordinates"
All current API libraries shipped must be distributed to Maven Central under a sub-package of the `jakarta` groupId. Before the first release Maven coordinates of this project must be changed as it's described [here](https://github.com/eclipse-ee4j/ee4j/wiki/New-Maven-Coordinates).

[2018-09-28 17:32] #6 closed

[2018-10-03 09:47] tomjenkinson commented on #4
I think it is fair to say this part is resolved:
https://jenkins.eclipse.org/jta/job/eclipse-ee4j_jta-api-master/
https://jenkins.eclipse.org/jta/job/eclipse-ee4j_jta-api-EE4J_8/

[2018-10-04 08:32] tomjenkinson opened #12 "Wrong licence file in the META-INF folder of Jar"
It has CDDL and GPL but it should be EPL and GPL.

[2018-10-05 07:45] tomjenkinson opened #15 "Wrong parent (?)"
It seems like other projects are using Eclipse parent rather than jvnet parent. Shouldn't we try to swap to that in case improvements to build are made there.

https://www.eclipse.org/lists/ee4j-build/msg00280.html

[2018-10-05 13:52] tomjenkinson opened #19 "Run CTS/TCK per pull request on EE4j_8 branch"
As per:
https://www.eclipse.org/ee4j/news/?date=2018-02-16

(discussed https://www.eclipse.org/lists/ee4j-build/msg00230.html and https://www.eclipse.org/lists/ee4j-build/msg00271.html)

May depend upon https://bugs.eclipse.org/bugs/show_bug.cgi?id=539925

[2018-10-05 13:55] tomjenkinson commented on #19
CTS/TCK still not available as per note in https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/README.md (we request you not to try building the CTS bundle from this repository)

[2018-10-05 13:57] tomjenkinson commented on #5
Need to run CTS/TCK as per https://github.com/eclipse-ee4j/ee4j/wiki/How-to-release-the-first-Eclipse-version-of-projects

[2018-10-05 13:57] tomjenkinson commented on #5
Blocked by https://github.com/eclipse-ee4j/jta-api/issues/19

[2018-10-05 15:45] edbratt commented on #19
Tom

The Reference Implementation for JTA is Java EE Reference Implementation
[1]. For Jakarta, that will be Eclipse GlassFish. You will need to build
a test version of Eclipse GlassFish, which contains the current
prospective JAR with this version of JTA, then run the compatibility
tests against that. Eventually, we hope to have some automation for
running tests, but I don't think that's ready ye

[2018-10-05 16:33] tomjenkinson commented on #19
Thanks for the feedback, IIUC you are saying I need to do something like:

1. git clone https://github.com/eclipse-ee4j/glassfish.git
2. git checkout -b EE4J_8
3. find . -name \pom.xml -exec sed -i "s/<groupId>javax.transaction</<groupId>jakarta.transaction</g" {} \;
4. find . -name \pom.xml -exec sed -i "s/<artifactId>javax.transaction-api</<artifactId>jakarta.transaction-api</g" {} \;
5. mvn cle

[2018-10-05 17:02] anajosep commented on #19
hi @tomjenkinson,
If you can provide me with an downloadable Eclipse Glassfish bundle, I can run the CTS test against that and provide you with the results.
The Jenkins job for running JakartaEE TCK (CTS) is available here https://jenkins.eclipse.org/jakartaee-tck/ as of now, I think only committers have access to this link. You can try accessing this link with your Eclipse credentials.

[2018-10-07 07:11] tomjenkinson commented on #19
I do have access to the link you mentioned, is there something I can do to trigger a build? I am updating my pull request jobs to archive a glasshfish.zip so that should be useful I think

[2018-10-08 11:08] tomjenkinson commented on #19
Hi @anajosep please can you try https://jenkins.eclipse.org/jta/job/eclipse-ee4j_jta-api-pulls/44/artifact/glassfish/appserver/distributions/glassfish/target/glassfish.zip ?

It is the build from: https://github.com/eclipse-ee4j/jta-api/pull/20

[2018-10-08 11:37] m0mus commented on #4
@tomjenkinson If it's resolved it has to closed. :)

[2018-10-08 11:37] #4 closed

[2018-10-08 12:21] #15 closed

[2018-10-08 15:50] tomjenkinson commented on #19
Just to mention as per the comment on #20 we seem to be blocked on https://bugs.eclipse.org/bugs/show_bug.cgi?id=539925

[2018-10-11 11:06] tomjenkinson opened #21 "Legal documents are missing some links"
The legal documents that are in the repository miss some of the endpoints which we now have

[2018-10-12 09:41] tomjenkinson commented on #5
No longer blocked by #19 as we are able to request runs on the jakartaee TCK

[2018-10-12 09:41] tomjenkinson commented on #5
We are waiting for current PR https://github.com/eclipse-ee4j/jta-api/pull/23 to be merged then should be able to move through the rest of the release process

[2018-10-12 09:44] tomjenkinson commented on #5
I would point out I can deploy a SNAPSHOT and tag things from a release job but will close once I have the first micro

[2018-10-12 11:41] m0mus opened #24 "Release to OSSRH staging repository"
- [x] Uptake new Eclipse versions of dependencies (if any). Use [GlassFish 5.1 Release Tracker](https://wiki.eclipse.org/Eclipse_GlassFish_5.1_Components_Release_Tracker) wiki to find components versions to use.

- [x] Release to OSSRH staging repository

- [x] Update [GlassFish 5.1 Release Tracker](https://wiki.eclipse.org/Eclipse_GlassFish_5.1_Components_Release_Tracker) with released version nu

[2018-10-12 13:30] #21 closed

[2018-10-17 12:38] tomjenkinson commented on #5
As I can deploy a snapshot lets mark this one as resolved

[2018-10-17 12:38] #5 closed

[2018-10-25 13:37] tomjenkinson commented on #24
Done: https://jenkins.eclipse.org/jta/job/eclipse-ee4j_jta-api-EE4J_8-release/5/

[2018-10-31 09:36] tomjenkinson commented on #24
After reading further on the forums although my profile is there it is not closed. When I tried to rc-close I got the same error as @bshannon.

I have raised this: https://bugs.eclipse.org/bugs/show_bug.cgi?id=540645

[2018-10-31 11:11] tomjenkinson commented on #24
https://jenkins.eclipse.org/jta/job/eclipse-ee4j_jta-api-EE4J_8-promote/18/console

[2018-10-31 11:11] #24 closed

[2018-11-08 12:10] m0mus opened #25 "Start a Release Review"
Passing **Release Review** is a required step before making a first public release. Deadline for passing the review is Nov 30th, 2018. Release review takes some time to complete, so it makes sense initiating it as soon as possible.

- [x] Start Release Review
- [x] Update [Release Review Tracker](https://wiki.eclipse.org/EE4J_Projects_Release_Review_Tracker)

Additional information:

- [How to sub

[2018-11-08 12:11] m0mus commented on #25
Passed:
https://projects.eclipse.org/projects/ee4j.jta/reviews/1.3.1-release-review

[2018-11-08 12:11] #25 closed

[2018-11-09 16:22] m0mus opened #26 "Integrate to GlassFish"
- [x] Integrate to Eclipse GlassFish
- [x] Pass all CTS/TCK tests

[2018-11-09 16:41] tomjenkinson commented on #26
Resolved here:: https://github.com/eclipse-ee4j/glassfish/pull/22602

[2018-11-09 16:43] tomjenkinson commented on #26
Actually, I will just reopen until we get some clarity on the CTS/TCK side of things. We have passed that before with Anand's help so I think it is done but will check there is nothng else to do.

[2018-12-06 14:48] rfelcman opened #27 "Jakarta release has wrong OSGi Bundle-SymbolicName"
Jakarta release of this API has wrong value of OSGi Bundle-SymbolicName in MANIFEST.MF.
Current value is _javax.transaction-api_ but expected value could be _jakarta.transaction-api_ .

[2018-12-07 11:04] tomjenkinson commented on #27
What about:
Bundle-Name: javax.transaction API
Extension-Name: javax.transaction

Should they be updated too?

[2018-12-07 11:10] tomjenkinson commented on #27
I am assuming they need to be

[2018-12-07 12:45] rfelcman commented on #27
Yes it could be fine. See for example _jakarta.json-api_ or _jakarta.persistence-api_ .

[2018-12-09 08:16] tomjenkinson opened #29 "Use uniqueVersion for snapshot versions"
If we use uniqueVersion from https://maven.apache.org/pom.html#Repository then we should be able to target specific versions of the snapshot

[2018-12-11 07:37] #27 closed

[2018-12-11 07:37] tomjenkinson commented on #27
Thanks for the report

[2018-12-11 08:03] #26 closed

[2018-12-11 14:22] tomjenkinson commented on #27
I have this instead, would it be better: https://github.com/eclipse-ee4j/jta-api/pull/30 (it does not change the extension name, bundle-name etc @lukasj

[2018-12-17 13:52] #29 closed

[2019-01-07 14:41] m0mus opened #34 "Public Release"
Last CTS runs indicate no failures in this component. It's time to make a public release. Before the release make sure that Eclipse Release Review is passed and all dependencies have been released.

[2019-01-07 16:19] tomjenkinson commented on #34
Hi @m0mus, is there some information on how we can promote them to Maven central? Perhaps a thread on ee4b-build list that I may have missed?

[2019-01-08 14:56] tomjenkinson commented on #34
Looks like we are there: https://search.maven.org/artifact/jakarta.transaction/jakarta.transaction-api/1.3.2/jar

[2019-01-08 14:56] #34 closed

[2019-01-14 22:12] arjantijms commented on #34
@m0mus @tomjenkinson Should this not have been 1.3.1 that was released? Why is the eclipse bot making changes in the EE4J_8 branch?

See: https://github.com/eclipse-ee4j/jta-api/commits/EE4J_8

[2019-01-15 11:31] tomjenkinson commented on #34
Hi Arjan, just closing the loop on the thread. It was intended to be 1.3.2 (I realise you know that now).

I didn't address your question about the bot yet though. The bot updates the version number as part of the release process, however that change is reviewed: https://github.com/eclipse-ee4j/jta-api/pull/32/commits

[2019-01-15 11:47] arjantijms commented on #34
Thx for the update Tom. In many other projects (at least the ones I worked on), the bot leaves the EE4J_8 branch alone and does the same version update, but in a new branch.

[2019-01-15 11:55] tomjenkinson commented on #34
It did make its changes in a different branch (probably like other projects) but then I raised a PR from that branch (IIRC) to reflect those changes back into the current development branch. In particular we would want the snapshot version update into that development branch, but also having the full history in the development branch (master or EE4J_8) including the update to the final tagged vers

[2019-04-04 11:23] ivargrimstad opened #35 "Update Scope Statement for Jakarta Transaction API Project"
Update the scope statement for the project: https://projects.eclipse.org/projects/ee4j.jakartaee-platform/governance

See https://docs.google.com/spreadsheets/d/1FPLjo_DJDOQngVtdrYgaDk98d9NBG-0ODgdmOG3LOsI/edit?usp=sharing for examples.

[2019-04-05 08:39] ivargrimstad opened #36 "Change project name to Jakarta Transaction"
Background information:
https://waynebeaton.wordpress.com/2019/04/04/renaming-java-ee-specifications-for-jakarta-ee/

Checklist:
- [ ]  GitHub
- [ ]  README file
- [ ]  CONTRIBUTING file
- [ ]  Eclipse Project under https://projects.eclipse.org/projects/ee4j

[2019-04-24 16:24] ivargrimstad commented on #36
Jakarta Transaction or Jakarta Transactions?

I think that the singular form is more consistent with the other projects...

[2019-04-26 09:42] tomjenkinson commented on #36
Let's ask on the jta-dev mailing list (just done - should appear in here https://www.eclipse.org/lists/jta-dev/2019/index.php shortly)

[2019-04-26 09:44] tomjenkinson commented on #36
I guess the question to reflect upon is whether the API is about managing "transactions" en masse or manipulating a singular transaction.

[2019-05-09 00:11] bshannon commented on #36
I prefer "Jakarta Transactions".

[2019-05-28 15:06] m0mus opened #37 "Jakarta EE 8 TCK job"
To test Jakarta EE 8 compatibility we need to create a Jenkins job on project's Cloud Jenkins instance formally testing the API against the relevant TCK and as needed, relevant CTS subset tests.

For projects that do not already have automated testing, there is provided parameterized Jenkins job that can be invoked to perform these tests. User provides a link to an Eclipse GlassFish test build and

[2019-06-05 15:09] tomjenkinson commented on #36
Given there was no further feedback I would choose to go with Jakarta Transactions as there is a transaction manager that creates transactions within the API.

To include those that commented:
@ivargrimstad are you OK with that? /cc @bshannon

[2019-06-05 15:12] tomjenkinson commented on #35
The current scope statement is here: https://projects.eclipse.org/projects/ee4j.jta/governance

[code]

[2019-06-05 15:18] tomjenkinson commented on #35
Proposed scope:

(*) The name may change depending on https://github.com/eclipse-ee4j/jta-api/issues/36

[2019-06-06 06:28] tomjenkinson commented on #36
I would also think we can use JTX as a three-letter acronym if we need to move from JTA

[2019-06-06 06:30] bshannon commented on #36
Why do we need a TLA?  And what would the X stand for?

[2019-06-06 06:30] ivargrimstad commented on #36
Yes

[2019-06-06 06:33] ivargrimstad commented on #36
I agree! It would be better to just refer to it as Jakarta Transactions.
(I guess the X comes from Tx as in transactions...?)

[2019-06-06 07:44] jonhawkes commented on #36
I prefer "Jakarta Transactions"

[2019-06-06 10:52] tomjenkinson commented on #36
The X does come from TX yes, the TLA was just an aside - sorry for the distraction.

Jakarta Transactions it is

[2019-06-06 10:59] tomjenkinson commented on #35
Given name was agreed:

[2019-06-06 11:01] #36 closed

[2019-06-06 11:01] #35 closed

[2019-06-06 13:56] waynebeaton opened #38 "Convert "Eclipse Project for JTA" into a specification project"
In order to prepare this project to engage in specification work, we need to convert it into a specification project as defined by the Eclipse Foundation Specification Process (EFSP). As part of this work, we will change the project name and the scope.

We'll use this issue to capture the work that needs to be done as part of this effort.

- [x] Resolve #36
- [x] Resolve #35
- [x] Successful compl

[2019-06-06 13:58] waynebeaton commented on #35
The specification scope can be derived from the project scope as this:

Any concerns?

[2019-06-07 10:12] tomjenkinson commented on #38
@waynebeaton the name "Jakarta Transactions" was chosen so I wonder if an id of ee4j.transactions and repository name of transactions-spec be preferable?

[2019-06-07 10:19] tomjenkinson commented on #35
@waynebeaton the actual definition of XA-aware resources is in the XA spec [1] and the mapping to Java is in Java SE [2]. What this spec does is describe how to integrate them into transactional applications.

I am wondering about:

Or do you think it is unnecessarily verbose?

[1] http://pubs.opengroup.org/onlinepubs/009680699/toc.pdf
[2] https://docs.oracle.com/javase/8/docs/api/javax/transactio

[2019-06-17 13:39] waynebeaton commented on #35
I'll revise it to this:

I tend to be wary of providing implementation details in a scope statement, but I believe that this works.

[2019-06-18 10:30] tomjenkinson commented on #35
@waynebeaton we went with Jakarta Transactions in https://github.com/eclipse-ee4j/jta-api/issues/36 (do you think I should rename the issue name there? You can see my comment confirming the decision is [here](https://github.com/eclipse-ee4j/jta-api/issues/36#issuecomment-499446887)

[2019-06-18 14:03] waynebeaton commented on #35
Thanks for keeping me honest, Tom.

[2019-06-19 11:55] tomjenkinson commented on #35
Thanks Wayne

[2019-06-25 02:09] waynebeaton commented on #38
We are not changing any repository names at this time. If you do want to change your repository name (or the name of any other project resources), connect with webmaster@eclipse.org

[2019-06-25 02:09] waynebeaton commented on #38
I've declared this review successful. Next steps will be provided by the PMC.

[2019-06-25 02:09] #38 closed

[2019-07-04 08:36] tomjenkinson commented on #37
I have run into a problem with this as discussed over here: https://www.eclipse.org/lists/ee4j-pmc/msg02002.html

[2019-07-04 08:41] tomjenkinson commented on #37
Just to note that as per the observation in https://github.com/eclipse-ee4j/jaxrs-api/issues/766 the jobs we are creating here will be to to test the new JTA built is compliant with a Java EE 8 certified server (https://dmitrykornilov.net/2019/01/29/eclipse-glassfish-5-1-is-released/)

[2019-07-04 11:36] tomjenkinson commented on #37
I have done this now:
https://jenkins.eclipse.org/jta/job/TCK_ts_jte/
https://jenkins.eclipse.org/jta/job/TCK_build-glassfish/
https://jenkins.eclipse.org/jta/job/TCK_run_pipeline/

[2019-07-04 11:36] #37 closed

[2019-07-11 16:03] tomjenkinson opened #39 "Prepare Jakarta Transactions for the Jakarta EE 8 Release"
### Instructions

- [x] Update text files
- [x] Generate "boilerplate" specification project
- [x] Make a staging release
- [x] Generate Stand-alone TCK test results
- [x] Create a PR to jakartaee/specifications repository

See [here](https://wiki.eclipse.org/How_to_Prepare_API_Projects_to_Jakarta_EE_8_Release) for detailed instructions.

[2019-07-15 09:42] tomjenkinson commented on #19
This is now integrated to the Jakarta Transactions pull request checking job here: https://jenkins.eclipse.org/jta/job/eclipse-ee4j_jta-api-pulls/

[2019-07-15 09:42] #19 closed

[2019-07-15 10:18] tomjenkinson opened #44 "Sync master with EE4J_8 branch"
There are lots of commits in EE4J_8 we need in master. One option is to wait for Jakarta EE8 to release so we know exactly what should be in master.

[2019-07-15 13:11] tomjenkinson opened #45 "Use the root pom.xml as the parent of api/pom.xml"
This is not critical for now as the root pom.xml does not define dependencies that are used in the api/pom.xml but would be useful to do in the future.

[2019-07-22 10:21] m0mus commented on #39
https://github.com/jakartaee/specifications/pull/25

[2019-07-22 10:21] #39 closed

[2019-07-25 12:38] m0mus opened #48 "Update Eclipse GlassFish"
Update Eclipse GlassFish to use the new version of your API (and implementation, if applicable) by submitting a PR to [GlassFish](https://github.com/eclipse-ee4j/glassfish).

Although a new version of GlassFish will not be released for Jakarta EE 8, we hope to release an update sometime later.

[2019-07-25 14:14] tomjenkinson commented on #48
PR is over here: https://github.com/eclipse-ee4j/glassfish/pull/22780

[2019-07-31 10:50] tomjenkinson opened #50 "Compatibility certification request for EE4J implementation of Jakarta Transactions"
- [x] Organization Name ("Organization") and, if applicable, URL\
  Eclipse Foundation
- [x] Product Name, Version and download URL (if applicable)\
  Eclipse Glassfish 5.1.0 https://www.eclipse.org/downloads/download.php?file=/glassfish/glassfish-5.1.0.zip
- [x] Specification Name, Version and download URL\
  Jakarta Transactions 1.3 https://github.com/jakartaee/specifications/pull/25
- [x] TCK V

[2019-07-31 11:02] tomjenkinson commented on #50
This needs moving to glassfish I think https://github.com/eclipse-ee4j/glassfish https://www.eclipse.org/lists/jakartaee-spec-project-leads/msg00146.html

[2019-08-01 08:33] tomjenkinson commented on #50
Actually, I think it is just the TCK results that needs moving

[2019-08-02 17:25] tomjenkinson commented on #50
So it is just Public URL of TCK Results Summary that needs updating when the linked PR is merged I think

[2019-08-09 22:34] bshannon commented on #50
I updated the SHA-256 above to match the latest TCK.  Please be sure to run that TCK.
Also, the TCK results summary link should be to the final page, not the pull request
creating that page, and the results page needs to include a copy of the certification request.

[2019-08-15 12:57] tomjenkinson commented on #50
@bshannon just re-ran TCK with https://jenkins.eclipse.org/jta/job/TCK_run_pipeline/50/consoleFull and used 76b80f10347804a38d5f12ea09a74356f8ea26298e97c8a525d7a9e3379f1fc5

[2019-08-15 13:08] tomjenkinson commented on #50
Just updated the job to archive this... https://jenkins.eclipse.org/jta/job/TCK_run_pipeline/51/artifact/environment.txt

[2019-08-15 16:36] tomjenkinson commented on #50
Updated the certification page with the details asked for: https://github.com/eclipse-ee4j/glassfish/pull/22819

[2019-08-16 10:23] tomjenkinson commented on #48
The PR is merged

[2019-08-16 10:23] #48 closed

[2019-08-23 10:17] tomjenkinson commented on #50
@jgallimore - might I ask if you would be available to review this certification request, please? The information to complete the review should be included in https://www.eclipse.org/lists/jakartaee-spec-project-leads/msg00224.html

[2019-08-23 14:58] edbratt commented on #50
+1
Looks good to me

[2019-08-29 16:43] glassfishrobot opened #69 "Place holder issue for Pull Request 15"
This is a place holder issue for Pull request from https://github.com/javaee/jta-spec/pull/15

[2019-08-29 16:43] #69 closed, assigned to nobody

[2019-09-02 15:44] kwsutter commented on #50
@tomjenkinson Could you please update the TCK link on this CR and the TCK-Results page to show the official location of the TCK?  https://download.eclipse.org/jakartaee/transactions/1.3/?d. Thanks!

[2019-09-02 16:16] tomjenkinson commented on #50
Thanks @kwsutter - I have raised https://github.com/eclipse-ee4j/glassfish/pull/22831and updated the description of this PR

[2019-09-06 15:02] tomjenkinson commented on #50
I added the accepted label and closed the issue as it has been 14 days now so going for "lazy consensus" https://github.com/jakartaee/specification-committee/blob/master/process.adoc#certification-resolution

[2019-09-06 15:02] #50 closed

[2019-09-11 13:13] tomjenkinson opened #71 "Include the LICENCE.md and NOTICE.md files from the root of the project in the API jar"
I noticed that the LICENCE etc is not in the META-INF folder and should be. I had a PR that I look to have force pushed an overwrite and so it closed: https://github.com/eclipse-ee4j/jta-api/pull/54

The commit looks as though it was https://github.com/eclipse-ee4j/jta-api/commit/1d9f6635069abf6cd9baeab040ccc6fde61a3798

The recommendation was to create an issue at the time as per https://www.ecli

[2019-12-11 10:54] #44 closed

[2020-01-14 14:45] kwsutter opened #75 "Deliver jta-api Specification Version update for Jakarta EE 9"
**Is your feature request related to a problem? Please describe.**
Jakarta EE 9 is the next major release, with the main focus of moving from the ```javax``` namespace to the ```jakarta``` namespace.

**Describe the solution you'd like**
This issue will be used to track the progress of this work effort via the [Jakarta EE 9 Project board](https://github.com/orgs/eclipse-ee4j/projects/17).

**Addit

[2020-01-18 14:04] markus183 opened #76 "javadoc generate fails with OpenJDK 11+, new warnings"
Found with both OpenJDK 11 and 13.

While generating the javadoc the build fails with the following error:
[code]
Fix: Add `<source>8</source>` to the maven-javadoc-plugin `<configuration>` section.

Additionally while generating the javadoc with the latest OpenJDK we get 2 new warnings:
[code]

[2020-01-19 16:18] markus183 opened #78 "Unused import of java.lang.IllegalArgumentException in interface UserTransaction"
I noticed a unused import statement in interface UserTransaction. Why is it there? I was unable to find a reference in the spec document.

[2020-01-20 07:16] markus183 opened #79 "findbugs-maven-plugin in api/pom.xml"
After checkout my IDE is complaining about the findbugs-maven-plugin. I had a look at the usage page of the plugin and to me it looks like the findbugs-maven-plugin should be configured inside the <reporting> section of the pom.xml.

- Where in the jenkins pipeline is the findbugs and site information generated?
- File exclude.xml is defined, but where is it?

[2020-01-20 13:01] tomjenkinson commented on #78
I am not sure why it was added originally, but I don't expect removing it would cause functional issues in the API

[2020-01-20 13:07] tomjenkinson commented on #79
I am not aware of why this plugin was added but I do not think that execution of the findbugs plugin was explicitly added into our Jenkins pipeline and AFAIK we don't use the output. What bit is not configured though, the plugin is configured over here: https://github.com/eclipse-ee4j/jta-api/blob/ba69bfff1cd38070d157f511a7ba4a3bc601a3df/api/pom.xml#L272 (does the exclude.xml not being found lead

[2020-01-20 17:08] kwsutter commented on #75
Can I ask this team to please create and assign the following labels to this Issue?  Thank you!
[Epic]
[wave:4]

[2020-01-22 17:07] markus183 commented on #79
running mvn findbugs:findbugs gives the following error:
[code]
running mvn findbugs:check gives the same error. I am not sure if this is related to the missing exclude file.

After setting `<findbugs.version>3.0.5</findbugs.version>` i get the following output from mvn findbugs:findbugs:
[code]
along with an illegal reflective access operation warning.

[2020-01-22 17:10] markus183 commented on #79
Why use the findbugs plugin?
Looks like it is outdated: https://gleclaire.github.io/findbugs-maven-plugin/

[2020-01-24 10:18] tomjenkinson commented on #79
I think in summary we do not currently use it in Jakarta Transactions project. I would be OK with it being removed. Please can I ask you to start a discussion on https://accounts.eclipse.org/mailing-list/jta-dev to get feedback from the rest of the community. Or I would be happy to do so.

[2020-01-30 17:23] kwsutter opened #80 "Merge (original) JTA Transactions specification source"
Just an FYI... The original (oracle) JTA Transactions specification source is now available via this CQ: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=21456

Please import/modify/merge it when time allows, hopefully in time for Jakarta EE 9. Thanks!

[2020-01-30 23:22] kwsutter commented on #80
Part of the work outlined by the overall Jakarta EE 9 Issue #75.

[2020-02-08 09:24] markus183 commented on #80
Can someone with access to ipzilla take care of this?

[2020-02-12 10:56] tomjenkinson commented on #75
Eclispe Release Record: https://projects.eclipse.org/projects/ee4j.jta/releases/2.0.0

As we are following https://eclipse-ee4j.github.io/jakartaee-platform/jakartaee9/JakartaEE9ReleasePlan I have ticked "Initiate a ballot"

[2020-02-12 11:07] tomjenkinson commented on #80
I am looking into it

[2020-02-13 11:35] tomjenkinson commented on #76
Patch is merged - thanks for the report!

[2020-02-13 11:35] #76 closed

[2020-02-13 11:36] tomjenkinson commented on #79
Patch is merged - thanks for the report!

[2020-02-13 11:36] #79 closed

[2020-02-13 11:36] tomjenkinson commented on #78
Patch is merged - thanks for the report!

[2020-02-13 11:36] #78 closed

[2020-02-18 09:16] tomjenkinson opened #85 "Re-enable building glassfish and running TCK when api/src/main/java/jakarta/transaction/Transaction.java exists"
This will be after changes to those projects are ready

[2020-02-18 09:19] tomjenkinson commented on #80
@kwsutter the spec that was contributed was 1.2 whereas 1.3 is available https://jcp.org/en/jsr/detail?id=907 and https://github.com/javaee/jta-spec. There is some reference to the Java SE change of the .xa package and it's bearing on the spec. Plus a small change of wording I noticed related to moving from EJB servers to Java EE servers.

Can we get 1.3?

[2020-02-18 15:25] #71 closed

[2020-02-18 15:33] tomjenkinson opened #87 "Upgrade spec-version-maven-plugin to 2.1"
This is required to produce an RC.

Some more information is available here: https://www.eclipse.org/lists/jakartaee-platform-dev/msg01509.html

[2020-02-18 15:50] tomjenkinson commented on #87
Without the upgrade I get:

[code]

[2020-02-18 17:20] #87 closed

[2020-02-19 08:52] tomjenkinson commented on #75
I would note that the spec that was contributed was JTA 1.2 and not JTA 1.3 as available [here](https://www.jcp.org/en/jsr/detail?id=907) and [here](https://github.com/javaee/jta-spec).

What would be the best route to understand if this is expected or not?

Just from a visual inspection of the PDF I can see 1.3 seems to at least have changed a reference of EJB servers to Java EE servers and added

[2020-02-20 20:06] markus183 commented on #80
@tomjenkinson out of curiosity I have compared the files [1.3](https://github.com/javaee/jta-spec/blob/master/JTA1.3Specification.pdf) and [1.2](https://github.com/javaee/jta-spec/blob/master/JTA1.2Specification.pdf) with a free online pdf diff.

I noticed the following additional change:
![image](https://user-images.githubusercontent.com/59997260/74974014-c7734e80-5424-11ea-8739-5387edbc0d0f.png)

[2020-02-20 20:40] kwsutter commented on #80
I agree with @markus183.  That will be the expedient method.  Start with the 1.2 source which you have and add the updates by doing the pdf comparison for 1.3.  Thanks!

[2020-02-21 08:38] tomjenkinson commented on #80
Thanks both.

@kwsutter would it require IP checking if we are pulling content from 1.3?

[2020-02-28 13:56] markus183 commented on #80
@tomjenkinson see https://www.eclipse.org/lists/jakartaee-platform-dev/msg01545.html
any progress?

[2020-02-29 10:35] tomjenkinson commented on #80
@markus183 thanks for pointing that one out, I have sent a message to the same thread

[2020-03-04 17:07] markus183 opened #90 "Update spec add link or reference to Jakarta Persistence"
I would like to recommend an addition to the spec document:

In chapter "Relationship to Other Java APIs" a reference to Jakarta Persistence (JPA) should be added. The additional chapter can mention e.g. Container-managed Persistence contexts, transaction-type, jta-data-source and persistence.xml from Jakarta Persistence.

From my experience many developers are unaware of the relationship between

[2020-05-05 21:46] kwsutter opened #93 "Update CONTRIBUTING.md for Specification Project's repositories"
**Create/Update CONTRIBUTING files**

Per input from the Eclipse EMO, each Specification Project needs to ensure that a CONTRIBUTING.md or CONTRIBUTING.adoc file exists in each specification-related repository maintained by Specification Projects.
In addition, the CONTRIBUTING.md or CONTRIBUTING.adoc file needs to include the following text:

[code]

Please do this at your earliest convenience.
Th

[2020-05-13 21:26] smillidge commented on #75
If you are using GlassFish 6.0.0 as CI the changes to the new namespace have been done in GlassFish so you can tick the CI checkbox

[2020-05-14 10:03] tomjenkinson commented on #75
Thanks for the update @smillidge!

[2020-05-14 16:28] kwsutter opened #95 "Update EFSL for Specifications and Javadoc"
Per the discussions on the Spec Committee and Platform Dev mailing lists, it's been discovered that many of the Javadoc and Spec references to the EFSL need updating. Please reference the following required updates and keep them in mind as your Spec Project is updating the files for Jakarta EE 9.

Note: Some Spec Projects have already started or even completed these updates. If so, just kindly ret

[2020-06-04 11:39] smillidge opened #96 "Modernise Exception Constructors"
For the next release the Exception constructors should be modernised to take another Throwable as a cause.

[2020-06-07 21:02] arjantijms commented on #75
Initial spec document is now very close to being imported into the repo: https://github.com/eclipse-ee4j/jta-api/pull/97

Currently stuck on needing a reviewer.

[2020-06-10 11:03] tomjenkinson commented on #80
The issue is merged into a work in progress branch https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

[2020-06-10 11:03] #80 closed

[2020-06-10 11:05] tomjenkinson commented on #75
@scottmarlow would you be able to comment on whether "javax -> jakarta TCK updates" is done for Jakarta Transactions please?

[2020-06-10 14:13] tomjenkinson opened #100 "Add details in CONTRIBUTING.md specifying conditions for a PR to be merged"
Do we want to require a review from a commit author before working on issues that are not in the master branch?

Do we want to disable branch protection on master so a committer can directly merge to master? Do we want to require some kind of notification to jta-dev and a period defined in hours/days?

Any other suggestions?

[2020-06-11 10:56] tomjenkinson opened #102 "Spec Cleanup Step 1: changing “Java EE” to “Jakarta EE”"
Please see the related information here:
https://github.com/jakartaee/specification-committee/blob/master/steps_javaee_to_jakartaee.adoc

The relevant branch is over here:
https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

[2020-06-11 10:59] tomjenkinson opened #103 "Spec Cleanup Step 2: Modifying references to the JCP with corresponding Eclipse processes"
Please see the related information here:
https://github.com/jakartaee/specification-committee/blob/master/steps_javaee_to_jakartaee.adoc

The relevant branch is over here:
https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

[2020-06-11 11:01] tomjenkinson opened #104 "Spec cleanup step 3: What do we do with references to JSRs? [EJB] Use spec. Name and version number of the specification instead."
Please see the related information here:
https://github.com/jakartaee/specification-committee/blob/master/steps_javaee_to_jakartaee.adoc

The relevant branch is over here:
https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

[2020-06-11 11:02] tomjenkinson opened #105 "Spec Cleanup Step 4: References to existing Java EE technologies, acronyms, and JSRs are okay as long as they are properly attributed."
We need to make sure any existing references to Java EE that need to remain are properly attributed.

Please see the related information here:
https://github.com/jakartaee/specification-committee/blob/master/steps_javaee_to_jakartaee.adoc

Please raise pull requests against: https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

If this results in any changes to the change log afte

[2020-06-11 13:33] tomjenkinson commented on #102
Initially, we should check if there are JSR references and we could note them in this issue

[2020-06-11 13:33] tomjenkinson commented on #104
Initially, we could check if there are JSR references and we could note them in this issue

[2020-06-11 13:34] tomjenkinson commented on #104
I think it depends on https://github.com/eclipse-ee4j/jta-api/issues/105

[2020-06-11 13:35] tomjenkinson commented on #104
Actually the dependency might be the other way round.

[2020-06-11 13:36] tomjenkinson commented on #104
I think what we need to do is check the spec for references to other specifications and then see if there are Jakarta versions of those specs and make a pull request to change those. For example if we find JMS (even without a version number) we would change it to "Jakarta Messaging 2.0"

[2020-06-11 13:38] tomjenkinson commented on #102
Let's constrain this to references to our own specification and to the generic process. For individual specifications we could try to deal with those in https://github.com/eclipse-ee4j/jta-api/issues/103 and https://github.com/eclipse-ee4j/jta-api/issues/104

[2020-06-11 13:40] tomjenkinson commented on #102
So it would be JTA, Java Transaction API and so on

[2020-06-11 13:41] tomjenkinson commented on #103
It could be general Java EE process references, JCP and so on. If there are non, please confirm back here!

[2020-06-11 13:41] tomjenkinson commented on #104
If there are non, please comment back here so we know it was reviewed.

[2020-06-11 14:24] tomjenkinson commented on #104
This applies to specifications that did get contributed to Jakarta EE (should be listed here https://jakarta.ee/specifications/)

[2020-06-11 14:25] tomjenkinson commented on #105
JTS would be an example of work that did not move to Jakarta EE

[2020-06-11 14:32] tomjenkinson opened #108 "Spec work: Integrate into main spec document"
Integrate https://github.com/eclipse-ee4j/jta-api/blob/spec-document-conversion/spec/src/main/asciidoc/Transactions.adoc into https://github.com/eclipse-ee4j/jta-api/blob/spec-document-conversion/spec/src/main/asciidoc/transactions-spec.adoc

Please raise pull requests against: https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

[2020-06-11 14:34] tomjenkinson opened #109 "Spec work: Updated version numbers in spec to 2.0"
Under https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion/spec many references to 1.3 of our spec should be changed to 2.0 (maybe some are valid in the case they state it in reference to an event that happened

Please raise pull requests against: https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

[2020-06-11 14:35] tomjenkinson commented on #102
Also, a note that if you are the first person to edit a file in the year, please update the copyright to include 2020

[2020-06-11 14:35] tomjenkinson commented on #103
Also, a note that if you are the first person to edit a file in the year, please update the copyright to include 2020

[2020-06-11 14:35] tomjenkinson commented on #104
Also, a note that if you are the first person to edit a file in the year, please update the copyright to include 2020

[2020-06-11 14:35] tomjenkinson commented on #105
Also, a note that if you are the first person to edit a file in the year, please update the copyright to include 2020

[2020-06-11 14:35] tomjenkinson commented on #108
Also, a note that if you are the first person to edit a file in the year, please update the copyright to include 2020

[2020-06-11 14:35] tomjenkinson commented on #109
Also, a note that if you are the first person to edit a file in the year, please update the copyright to include 2020

[2020-06-11 14:36] tomjenkinson opened #110 "Spec work: Update the pom parent to the same version used in the rest of the project"
https://github.com/eclipse-ee4j/jta-api/blob/spec-document-conversion/spec/pom.xml#L22 compared to https://github.com/eclipse-ee4j/jta-api/blob/master/pom.xml#L25

Please raise pull requests against: https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

[2020-06-11 14:40] tomjenkinson opened #111 "Revert changes to spec/README.md and spec/assembly.xml when importing the contributed doc"
The spec/README.md and spec/assembly.xml changes in https://github.com/eclipse-ee4j/jta-api/commit/dc7915bc787556c8c820ef7f2c0dfd19706eabe7#diff-47b650f34baabc8c413db10c56311312

Please raise pull requests against: https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

[2020-06-11 14:40] tomjenkinson opened #112 "Spec: Review changes to spec/pom.xml and the added spec/src/theme folder that were made when importing spec"
As seen in https://github.com/eclipse-ee4j/jta-api/commit/dc7915bc787556c8c820ef7f2c0dfd19706eabe7#diff-47b650f34baabc8c413db10c56311312

Please raise pull requests against: https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

[2020-06-11 15:30] tomjenkinson opened #113 "Update copyright notice in contributed spec"
I have found the reference in https://github.com/jakartaee/specification-committee/blob/master/steps_javaee_to_jakartaee.adoc.

It indicates to use “Copyright © 2019 Eclipse Foundation” - but given we are in 2020 and how it seems the (c) was in brackets then I expect:

"Copyright (c) 2020 Eclipse Foundation"

[2020-06-11 15:33] tomjenkinson opened #114 "Spec Helpful Hints: internal document linkrefs need to be re-worked"
We should review "internal document linkrefs need to be re-worked". If no work is required please comment here.

In the section Helpful Hints in https://github.com/jakartaee/specification-committee/blob/master/steps_javaee_to_jakartaee.adoc

Please raise pull requests against: https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

[2020-06-11 15:33] tomjenkinson opened #115 "Spec Helpful Hints: links need to be on a separate line from the headings"
We should review "links need to be on a separate line from the headings". If no work is required please comment here.

In the section Helpful Hints in https://github.com/jakartaee/specification-committee/blob/master/steps_javaee_to_jakartaee.adoc

Please raise pull requests against: https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

[2020-06-11 15:34] tomjenkinson opened #116 "Spec Helpful Hints: Use “https://” instead of “http://” for any external links"
We should review 'Use “https://” instead of “http://” for any external links'. If no work is required please comment here.

In the section Helpful Hints in https://github.com/jakartaee/specification-committee/blob/master/steps_javaee_to_jakartaee.adoc

[2020-06-11 15:35] tomjenkinson opened #117 "Spec Helpful Hints: Inserting images has a different syntax"
We should review "Inserting images has a different syntax". If no work is required please comment here.

In the section Helpful Hints in https://github.com/jakartaee/specification-committee/blob/master/steps_javaee_to_jakartaee.adoc

[2020-06-11 15:37] tomjenkinson opened #118 "Spec Helpful Hints: Review "Tables didn’t migrate well at all… When you find a table, start off with this type of header and then insert the data on each new line""
We should review "Tables didn’t migrate well at all… When you find a table, start off with this type of header and then insert the data on each new line". If no work is required please comment here.

In the section Helpful Hints in https://github.com/jakartaee/specification-committee/blob/master/steps_javaee_to_jakartaee.adoc

Please raise pull requests against: https://github.com/eclipse-ee4j/jta

[2020-06-11 15:38] tomjenkinson opened #119 "Spec Helpful Hints: Formatting code blocks needs work"
We should review "Formatting code blocks needs work as well. Surround code block in ---- (4 dashes).
Add [source, java] or [source, xml] as needed.". If no work is required please comment here.

In the section Helpful Hints in https://github.com/jakartaee/specification-committee/blob/master/steps_javaee_to_jakartaee.adoc

Please raise pull requests against: https://github.com/eclipse-ee4j/jta-api/

[2020-06-11 16:00] tomjenkinson opened #120 "Spec conversion: Update references for javax.transaction.* (but not javax.transaction.xa or it's classes) to jakarta.transaction"
To reflect where the code now is: https://github.com/eclipse-ee4j/jta-api/tree/master/api/src/main/java/jakarta/transaction

Please raise pull requests against: https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

[2020-06-12 06:20] tomjenkinson opened #121 "Spec: A reference to the XA package exists still in the spec"

[2020-06-12 06:21] tomjenkinson commented on #121
I will check the ipzilla entry for JTA 1.3 in case it was there

[2020-06-12 06:42] tomjenkinson opened #122 "Javadocs: Check for references to JTA"
Perhaps these should be updated.

[2020-06-12 06:43] tomjenkinson opened #123 "Javadocs: Find a way to provide the version number into the Javadocs at build time"
Can the version number (maybe taken from the pom.xml) be put in the Javadocs at build time?

[2020-06-12 17:27] vanuatoo commented on #103
Started working on the issue

[2020-06-12 17:31] vanuatoo commented on #103
Should I wait for this PR merged and then start working on the issue?
https://github.com/eclipse-ee4j/jta-api/pull/107

[2020-06-13 07:27] rhuan080 commented on #104
I'm starting in this task.

[2020-06-13 09:35] rhuan080 commented on #104
Done!

https://github.com/eclipse-ee4j/jta-api/pull/125

[2020-06-13 09:45] rhuan080 commented on #105
Hi, the JTS is not a Jakarta EE specification, Am I correct? I think it should not be replaced. Can you confirm it?

[2020-06-15 10:29] tomjenkinson commented on #103
@vanuatoo #107 is merged now but I would hope it would not have interfered with your work as it should have been a separate change. Thanks for checking.

[2020-06-15 10:30] tomjenkinson commented on #105
Thanks for checking @rhuan080 - JTS should not be replaced but we need to check it is properly attributed.

[2020-06-15 10:35] tomjenkinson commented on #104
Thanks!

[2020-06-16 19:13] vanuatoo commented on #103
All the JCP references except Jakarta Enterprise Beans 4.0 are addressed by https://github.com/eclipse-ee4j/jta-api/pull/125 from #104
If Jakarta Enterprise Beans 4.0 reference is added in PR 125 nothing left to do for this issue.

[2020-06-17 08:58] tomjenkinson commented on #103
I think #125 should add the Jakarta Enterprise Beans in hopefully. Thanks for reviewing, let's keep this open till #104 is closed and then re-review? If you are happy to do so there are several other [specification issues](https://github.com/eclipse-ee4j/jta-api/labels/specification) available in the meantime?

[2020-06-18 13:22] tomjenkinson commented on #103
#125 is merged, @vanuatoo please may I ask you to double check the state of https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion regarding #103?

[2020-06-18 13:24] #113 closed

[2020-06-18 13:24] #102 closed

[2020-06-18 13:27] tomjenkinson opened #126 "Updated the chapter headings"
The specification has (for example)

Which would look better like:

And so on.

[2020-06-18 13:29] tomjenkinson opened #127 "Update footnotes"
From https://raw.githubusercontent.com/jakartaee/specification-committee/master/steps_javaee_to_jakartaee.adoc:
[code]

Please raise pull requests against: https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

[2020-06-18 13:38] tomjenkinson commented on #121
I think it was present in JTA 1.3. We could still assess if it is appropriate to include.

[2020-06-18 13:41] tomjenkinson commented on #117
It might be that the paths are not including images too. Though following the hint might mean these could be found.

For example https://github.com/eclipse-ee4j/jta-api/blob/spec-document-conversion/spec/src/main/asciidoc/Transactions.adoc The first image seems to be a link to https://github.com/eclipse-ee4j/jta-api/blob/spec-document-conversion/spec/src/main/asciidoc/transactions-2.png but https:

[2020-06-18 14:22] vanuatoo commented on #103
I made some small changes and want to push my branch to open PR but I get permission denied.

[2020-06-18 14:31] tomjenkinson commented on #103
@vanuatoo if I am following you correctly, I think you may have tried to push direct into this repo? Please can you fork the repo and raise a PR from your own fork?

[2020-06-18 16:06] vanuatoo commented on #103
Done
https://github.com/eclipse-ee4j/jta-api/pull/129

[2020-06-18 16:43] tomjenkinson commented on #103
Thanks for the contribution! I will close this but if I was wrong to do so and there is further work expected please respond

[2020-06-18 16:43] #103 closed

[2020-06-18 18:29] vanuatoo commented on #116
I started to work on this

[2020-06-18 18:32] kemitix commented on #126
I'll take this.

[2020-06-19 09:44] tomjenkinson commented on #116
Thanks!

[2020-06-19 09:44] tomjenkinson commented on #126
Thanks!

[2020-06-19 09:50] tomjenkinson commented on #119
There is some relationship between this issue and https://github.com/eclipse-ee4j/jta-api/pull/130 /cc @kemitix

[2020-06-19 21:52] rhuan080 commented on #117
Hi, I'm working on it.

[2020-06-20 05:17] rhuan080 commented on #117
PR sent: https://github.com/eclipse-ee4j/jta-api/pull/131

[2020-06-20 08:40] vanuatoo commented on #116
Done!

[2020-06-22 09:28] tomjenkinson opened #133 "See if we can change URL in eclipe headers to https"
http://www.eclipse.org/legal/epl-2.0 is in spec/assembly.xml and spec/pom.xml and api/pom.xml and /pom.xml (plus others I would assume). Can they be changed to https?

[2020-06-22 09:40] #126 closed

[2020-06-22 15:01] tomjenkinson commented on #116
Thanks!

[2020-06-22 15:01] #116 closed

[2020-06-25 09:20] tomjenkinson opened #134 "Verify the security policy for images in the html file"
As per comment https://github.com/eclipse-ee4j/jta-api/pull/131#discussion_r445092408

[2020-06-25 09:22] tomjenkinson commented on #117
Thanks for the contribution!

[2020-06-25 09:22] tomjenkinson commented on #117
I will close this but https://github.com/eclipse-ee4j/jta-api/issues/134 has been raised

[2020-06-25 09:23] #117 closed

[2020-06-25 22:18] rhuan080 commented on #114
Hi, I'm working in it :)

[2020-06-26 09:58] tomjenkinson commented on #114
Thanks for the update!

[2020-07-03 23:22] rhuan080 commented on #114
Done!

https://github.com/eclipse-ee4j/jta-api/pull/137

[2020-07-06 08:11] vanuatoo commented on #133
What's the status on this?

[2020-07-06 09:24] tomjenkinson commented on #114
Thanks!

[2020-07-06 10:02] tomjenkinson opened #138 "Links are missing starting wrapping with an initial ”"
We would add an ” character before << (note it is ” not ") to complete the quotes around the link.

Please raise pull requests against: https://github.com/eclipse-ee4j/jta-api/tree/spec-document-conversion

[2020-07-06 16:05] tomjenkinson commented on #133
To update you, I have emailed emo@eclipse.org asking about this

[2020-07-09 17:50] mcserra commented on #115
There's nothing like this in the spec doc.

[2020-07-09 18:40] mcserra commented on #118
Hi Tom, the only table in the spec has the problem stated here: https://github.com/asciidoctor/asciidoctor/issues/1687. If the workaround is enough, I'd like to do it.

[2020-07-10 09:11] tomjenkinson commented on #115
Thanks for taking a look, we are actually in the process of adding some links over [here](https://github.com/eclipse-ee4j/jta-api/pull/137/files) but good to read there are no previous.

Thanks again!

[2020-07-10 09:11] #115 closed

[2020-07-10 09:15] #114 closed

[2020-07-10 09:26] tomjenkinson commented on #118
Thanks for taking a look, I think we should ask other Jakarta EE projects what approach they have taken. Potentially the drawback of the header being in the body is too much. Maybe we could duplicate the common titles in the "first" header row into the second if that was the case. I think the Jakarta community should decide.

If you would like to continue the issue then I think creating a thread o

[2020-07-10 09:29] mcserra commented on #118
Ok, it would be great if you could do it, and I'll pick something else in the meantime. Thanks!

[2020-07-10 09:34] tomjenkinson commented on #118
No problem - thanks for the response

[2020-07-14 16:28] tomjenkinson commented on #109
I am going to resolve this. There is some work in the pom.xml to do still (at least https://github.com/eclipse-ee4j/jta-api/blob/spec-document-conversion/spec/pom.xml#L30)

[2020-07-14 16:28] #109 closed

[2020-07-14 16:28] tomjenkinson commented on #109
Thanks for the contribution!

[2020-07-14 16:32] tomjenkinson commented on #118
I created a thread. You can find the initial message here: https://www.eclipse.org/lists/jakartaee-spec-project-leads/msg00618.html

[2020-07-14 16:33] mcserra commented on #118
Great, thanks!

[2020-07-28 12:39] kwsutter commented on #95
This issue should be closed since the text for the EFSL should not be modified (per a recent discussion with the EMO).  Sorry for the confusion!

[2020-08-19 00:14] starksm64 commented on #134
The problem is that jenkins does not handle the display correctly. See this post:
https://stackoverflow.com/questions/35018767/because-the-documents-frame-is-sandboxed-and-the-allow-scripts-permission-is

[2020-08-19 11:01] tomjenkinson commented on #134
Thanks!

[2020-08-19 11:02] #134 closed

[2020-08-19 13:54] tomjenkinson commented on #121
Not required to be changed for Java EE 9 IMO, unless anyone objects?

[2020-08-19 16:49] starksm64 opened #144 "Automatic-Module-Name needs to be updated to jakarta.transaction"
It was pointed out today that the java.transaction Automatic-Module-Name needs to be updated to jakarta.transaction for the EE9 release.

[2020-08-20 04:02] rhuan080 commented on #96
Starting to work in it.

[2020-08-20 08:19] tomjenkinson commented on #112
After https://github.com/eclipse-ee4j/jta-api/pull/143, the remaining items are to revert https://github.com/eclipse-ee4j/jta-api/commit/dc7915bc787556c8c820ef7f2c0dfd19706eabe7#diff-47b650f34baabc8c413db10c56311312L3-R5 and https://github.com/eclipse-ee4j/jta-api/commit/dc7915bc787556c8c820ef7f2c0dfd19706eabe7#diff-47b650f34baabc8c413db10c56311312L41-L42

[2020-08-20 08:19] tomjenkinson commented on #138
Thanks @starksm64 for fixing this

[2020-08-20 08:19] #138 closed

[2020-08-20 08:19] tomjenkinson commented on #127
Thanks @starksm64 for fixing this

[2020-08-20 08:19] #127 closed

[2020-08-20 08:19] tomjenkinson commented on #119
Thanks @starksm64 for fixing this

[2020-08-20 08:19] #119 closed

[2020-08-20 08:20] #118 closed

[2020-08-20 08:21] tomjenkinson commented on #118
Changes are in https://github.com/eclipse-ee4j/jta-api/pull/143/commits thanks @mcserra and @starksm64 for your contributions to it

[2020-08-20 08:41] tomjenkinson commented on #120
https://github.com/eclipse-ee4j/jta-api/pull/146

[2020-08-20 08:44] tomjenkinson commented on #110
https://github.com/eclipse-ee4j/jta-api/blob/spec-document-conversion/spec/pom.xml#L23

[2020-08-20 08:44] #110 closed

[2020-08-20 08:46] tomjenkinson opened #147 "Update reference to javax.enterprise.context.ContextNotActiveException in specification"
There is a reference to javax.enterprise.context.ContextNotActiveException that should be jakarta.enterprise.context.ContextNotActiveException

[2020-08-20 08:49] tomjenkinson commented on #147
I have a PR for this https://github.com/eclipse-ee4j/jta-api/pull/146

[2020-08-20 09:36] #144 closed

[2020-08-20 10:52] #120 closed

[2020-08-20 10:52] #147 closed

[2020-08-20 10:54] tomjenkinson commented on #96
Thanks @rhuan080. I expect this is for EE10 rather than EE9 - hopefully @smillidge can confirm that.

[2020-08-20 10:55] tomjenkinson commented on #104
There are a couple of PR open so I have reopened this one.

[2020-08-20 11:10] tomjenkinson commented on #112
PR over here: https://github.com/eclipse-ee4j/jta-api/pull/148

[2020-08-20 11:10] tomjenkinson commented on #111
PR over here: https://github.com/eclipse-ee4j/jta-api/pull/148

[2020-08-20 12:05] tomjenkinson commented on #108
PR over here: https://github.com/eclipse-ee4j/jta-api/pull/149

[2020-08-20 12:06] smillidge commented on #96
Yes I would assume so

[2020-08-20 12:19] tomjenkinson commented on #108
It should be noted that PR is about removing the scope statement. There is a thread about it too: https://www.eclipse.org/lists/jta-dev/msg00103.html

[2020-08-20 12:22] tomjenkinson commented on #105
There is a thread about the JTS attribution "Help requested on how to deal with JTS attribution for the Jakarta Transactions specification" on the jta-dev mailing list which should complete this work.

The archive wasn't showing it for me right now but hopefully it will show there soon:
https://www.eclipse.org/lists/jta-dev/2020/Aug/index.html

[2020-08-20 14:41] tomjenkinson commented on #105
I resent it but I don't see it yet so to keep this thread in sync here indented with "> " is the main request:

[2020-08-20 14:49] tomjenkinson commented on #105
Both copies of the message are showing on the archive now.

[2020-08-20 14:51] #112 closed

[2020-08-20 14:51] #111 closed

[2020-08-20 14:58] starksm64 commented on #105
I would say the current attribution at the end is sufficient as that is what the platform spec references it using the following:

_Java™ Transaction Service, Version 1.0_ (JTS specification)_. Available at: _https://www.oracle.com/technetwork/java/javaee/jts-spec095-1508547.pdf_

It is referencing the 0.95 draft, but there is a 1.0 final version here:
https://download.oracle.com/otndocs/jcp/7309-

[2020-08-20 15:05] tomjenkinson commented on #95
Hmm, as we had merged https://github.com/eclipse-ee4j/jta-api/pull/98/commits already I think we might need to revert that or part of it

[2020-08-20 15:08] tomjenkinson commented on #122
[code]

[2020-08-20 15:12] tomjenkinson commented on #122
`$ find . -type f -exec grep -l JTA {} \;
./api/src/main/java/jakarta/transaction/TransactionScoped.java
./api/src/main/java/jakarta/transaction/TransactionSynchronizationRegistry.java
./api/src/main/java/jakarta/transaction/Transactional.java
./api/src/main/java/jakarta/transaction/TransactionalException.java
`

[2020-08-20 15:22] starksm64 commented on #105
The question of 0.95 vs 1.0 on the platform spec:
https://github.com/eclipse-ee4j/jakartaee-platform/issues/238

[2020-08-20 16:52] tomjenkinson commented on #105
Thanks Scott

[2020-08-28 11:48] tomjenkinson commented on #104
A note that https://github.com/eclipse-ee4j/jta-api/pull/139 and https://github.com/eclipse-ee4j/jta-api/pull/140 each have a commit referencing #105 but it applies to this issue instead

[2020-08-28 11:48] #104 closed

[2020-08-28 11:48] tomjenkinson commented on #105
A note that https://github.com/eclipse-ee4j/jta-api/pull/139 and https://github.com/eclipse-ee4j/jta-api/pull/140 each have a commit referencing this issue but they apply to #104 instead

[2020-08-28 11:50] #108 closed

[2020-08-28 11:57] tomjenkinson commented on #95
I have a PR to revert this: https://github.com/eclipse-ee4j/jta-api/pull/151

[2020-08-28 12:06] tomjenkinson commented on #122
Doesn't seem to be required https://www.eclipse.org/lists/ee4j-pmc/msg02056.html

[2020-08-28 12:06] #122 closed

[2020-08-28 12:26] tomjenkinson opened #153 "Update the specification pom.xml to 2.0.0-SNAPSHOT"
For consistency with the api pom

[2020-08-28 12:27] tomjenkinson opened #154 "Merge spec-document-conversion into master"
There is a lot of changes in that branch that need to be added to master

[2020-08-28 12:28] tomjenkinson commented on #154
Resolve https://github.com/eclipse-ee4j/jta-api/issues/105 first

[2020-08-28 13:56] tomjenkinson opened #155 "Add a change log to specification for Jakarta Transactions 2.0"
This might help:

https://github.com/eclipse-ee4j/jta-api/compare/8154a4d19bc556b95dd45f56df13d1e7e36a5f72...spec-document-conversion

[2020-08-28 14:46] tomjenkinson opened #156 "Allow selection of "Final Jakarta API available in Staging Repo" by completing certification request"
I think we need:
1. A version of Glassfish with the (perhaps optional) right version of Jakarta Transactions in it. We can try to get one from https://download.eclipse.org/ee4j/glassfish/weekly/ for a build after https://ci.eclipse.org/jta/job/NexusStaging-deploy/52/
2. The TCK to be promoted as https://github.com/eclipse-ee4j/jakartaee-tck/issues/431
3. Running https://ci.eclipse.org/jta/job/TCK_

[2020-08-28 14:48] tomjenkinson opened #157 "Update specification landing page"
This needs to reflect Jakarta Transactions 2.0 https://github.com/jakartaee/specifications/blob/master/transactions/2.0/_index.md

[2020-08-28 14:48] tomjenkinson opened #158 "Submit ballot for acceptance of Jakarta Transactions 2.0"

[2020-08-28 14:54] tomjenkinson commented on #156
This is 1.3: https://github.com/eclipse-ee4j/glassfish/blob/master/docs/website/src/main/resources/certifications/jakarta-transactions/1.3/TCK-Results.md so we need something like that

[2020-08-28 14:55] tomjenkinson commented on #156
It ends up somewhere like this: https://eclipse-ee4j.github.io/glassfish/certifications/jakarta-transactions/1.3/TCK-Results (it was not instant though as I recall)

[2020-08-28 14:56] tomjenkinson commented on #157
And the supporting items uploaded

[2020-09-07 08:52] #95 closed

[2020-09-07 15:06] #123 closed

[2020-09-07 15:07] #153 closed

[2020-09-09 14:18] tomjenkinson commented on #155
I have a PR for this: https://github.com/eclipse-ee4j/jta-api/pull/160

[2020-09-09 14:27] tomjenkinson commented on #133
This won't be done it seems: https://github.com/eclipse-ee4j/jta-api/pull/98#discussion_r451213027

[2020-09-09 14:27] #133 closed

[2020-09-09 15:56] tomjenkinson commented on #105
I will resolve this one - thanks for peoples contributions. The JTS references side of things I think we will not change

[2020-09-09 16:01] #155 closed

[2020-09-10 09:10] tomjenkinson opened #163 "Update module name to jakarta.transaction in the readme"
Will reflect https://github.com/eclipse-ee4j/jta-api/issues/144

There is a mail thread related to module names:
https://www.eclipse.org/lists/jakartaee-spec-project-leads/msg00619.html

[2020-09-10 09:35] #163 closed

[2020-09-10 10:19] tomjenkinson opened #165 "Spec PDF document current is called "jakarta-transaction" not "jakarta-transactions""
It would be clearer to be consistent. Until resolve we might be able to rename the file when copying.

[2020-09-10 10:33] tomjenkinson commented on #165
We will need something like: https://github.com/eclipse-ee4j/jta-api/compare/eclipse-ee4j:spec-document-conversion...tomjenkinson:pdfname?expand=1

[2020-09-10 11:27] tomjenkinson commented on #85
I have updated:
* https://ci.eclipse.org/jta/job/eclipse-ee4j_jta-api-pulls/ (untested)
* https://ci.eclipse.org/jta/job/TCK_build-glassfish/ (tested)
* https://ci.eclipse.org/jta/job/TCK_run_pipeline/ (tested)
* https://ci.eclipse.org/jta/job/TCK_ts_jte/ (tested)
* https://ci.eclipse.org/jta/job/TCK_copy-glassfish/ (this one is running now)

[2020-09-10 11:41] #85 closed

[2020-09-14 11:06] tomjenkinson commented on #154
#105 is resolved so we are ready for review thanks!

[2020-09-18 10:53] #154 closed

[2020-09-18 10:58] tomjenkinson commented on #158
We need to collect things in https://github.com/jakartaee/specifications/pull/265

[2020-09-18 12:29] #165 closed

[2020-09-21 09:50] tomjenkinson opened #169 "Maven central has an unexpanded property name"
Please look at: https://search.maven.org/artifact/jakarta.transaction/jakarta.transaction-api

At the time of writing you would see: ${extension.name} API

[2020-09-21 09:53] tomjenkinson opened #170 "Low resolution images - can they be improved?"
In https://github.com/eclipse-ee4j/jta-api/tree/master/spec/src/main/asciidoc/images, transactions-2.png, transactions-3.png, transactions-4.png, transactions-5.png are low resolution. Could they be improved?

[2020-09-21 10:08] pzygielo commented on #169
But maven during build is able to resolve that property. So perhaps it shall rather be raised to https://github.com/sonatype-nexus-community/search-maven-org/ for search to do the same.

[2020-09-21 10:14] jgallimore commented on #170
Should we redraw these as SVGs?

[2020-09-21 10:21] tomjenkinson commented on #170
That might be one approach, I don't think it should block EE9 (in my opinion). Maybe we could ask the various project leads what approach they have taken or intend to take or the platform list?

[2020-09-21 10:27] tomjenkinson commented on #169
That might be an option. It's not ideal but if someone wanted this to be a blocker we could maybe set it to be "jakarta.transactions API" (keeping " API" as it is the API project) https://github.com/eclipse-ee4j/jta-api/blob/master/api/pom.xml#L39 as I don't suppose we would change it frequently.

[2020-09-21 12:28] markus183 commented on #169
Why not use <name>Jakarta Transactions API</name> in pom.xml?

Example of other project: https://search.maven.org/artifact/jakarta.batch/jakarta.batch-api

[2020-09-21 12:38] markus183 commented on #170
We should redraw this. If possible use the jakarta ee theme (font, colors, ...). Maybe the theme can be used from existing jakartee presentation documents (I have seen some on youtube).

At the moment it the pngs look very retro :)

[2020-09-21 12:47] tomjenkinson commented on #169
I am not really sure, but I don't have any objection to that name either except hopefully people wouldn''t assume it was the "Jakarta Transactions API" project (as opposed to the `"Jakarta Transactions" API`) (compared to JTA)

[2020-09-21 14:05] tomjenkinson commented on #156
I think we need to review and update the TCK as necessary: https://github.com/eclipse-ee4j/jakartaee-tck/issues/431

[2020-09-21 14:27] tomjenkinson commented on #157
Let's use https://github.com/eclipse-ee4j/jta-api/issues/158

[2020-09-21 14:27] #157 closed

[2020-09-21 14:35] tomjenkinson commented on #158
Depends on: https://github.com/eclipse-ee4j/jta-api/issues/156

[2020-09-23 14:51] tomjenkinson opened #171 "Stage a Jakarta Transactions 2.0.0"

[2020-09-24 11:04] tomjenkinson commented on #171
Hopefully https://ci.eclipse.org/jta/job/NexusStaging-deploy/51/ will be succesful

[2020-09-24 11:08] tomjenkinson commented on #171
It was and we have staged https://jakarta.oss.sonatype.org/content/groups/staging/jakarta/transaction/jakarta.transaction-api/2.0.0/

[2020-09-24 11:09] tomjenkinson commented on #171
https://ci.eclipse.org/jta/job/TCK_build-glassfish/61/ should have a version of https://repo1.maven.org/maven2/org/glassfish/main/distributions/glassfish/6.0.0-M1/glassfish-6.0.0-M1.zip with the transactions API replaced with a copy of the staged 2.0.0

[2020-09-24 11:10] tomjenkinson commented on #171
https://ci.eclipse.org/jta/job/TCK_run_pipeline/72/ should be running https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/jakarta-transactions-tck-2.0.0.zip with that glassfish

[2020-09-24 11:15] tomjenkinson commented on #171
That passed

[2020-09-24 11:31] tomjenkinson commented on #171
A PR to use the staged version on glassfish: https://github.com/eclipse-ee4j/glassfish/pull/23208

[2020-09-28 10:26] #170 closed

[2020-09-29 10:53] #171 closed

[2020-09-29 10:54] tomjenkinson commented on #158
Let's track this in https://github.com/eclipse-ee4j/jta-api/issues/75

[2020-09-29 10:54] tomjenkinson commented on #75
Information to be tracked in https://github.com/jakartaee/specifications/pull/265

[2020-09-29 10:54] #158 closed

[2020-10-01 12:29] tomjenkinson commented on #156
I think we need:
1. A version of Glassfish with the (perhaps optional) right version of Jakarta Transactions in it. We can try to get one from https://download.eclipse.org/ee4j/glassfish/weekly/ for a build after https://ci.eclipse.org/jta/job/NexusStaging-deploy/52/
2. The TCK to be promoted as https://github.com/eclipse-ee4j/jakartaee-tck/issues/431
3. Running https://ci.eclipse.org/jta/job/TCK_

[2020-10-01 13:35] tomjenkinson commented on #105
Updating JTS reference https://github.com/eclipse-ee4j/jta-api/pull/177

[2020-10-01 13:49] #105 closed

[2020-10-05 14:04] tomjenkinson opened #179 "Some changes from JTA 1.1 are not in the Javadocs (just in the changelog)"
https://github.com/eclipse-ee4j/jta-api/blame/2.0.0-RC3-staging/spec/src/main/asciidoc/Transactions.adoc#L1493-L1510

[2020-10-05 14:10] tomjenkinson commented on #179
Please see https://www.eclipse.org/lists/jta-dev/msg00168.html

If we change anything, please note how Paul made a clarification on how the Synchronization object was about Synchronization beforeCompletion method.

[2020-10-05 14:56] tomjenkinson opened #180 "Compatibility certification request for EE4J implementation of Jakarta Transactions"
- [x] Organization Name ("Organization") and, if applicable, URL:
  Eclipse Foundation
- [x] Product Name, Version and download URL (if applicable):
  Eclipse Glassfish 6.0.0-SNAPSHOT-2020-10-04 https://download.eclipse.org/ee4j/glassfish/weekly/glassfish-6.0.0-SNAPSHOT-2020-10-04.zip
- [x] Specification Name, Version and download URL:
   Jakarta Transactions 2.0 https://jakarta.ee/specifications/

[2020-10-05 15:11] tomjenkinson commented on #156
I think with https://github.com/eclipse-ee4j/jta-api/issues/180 we are at step 6

[2020-10-06 16:08] #156 closed

[2020-10-06 16:09] tomjenkinson commented on #156
I think we are done with this issue

[2020-10-14 10:18] arjantijms commented on #75
Ballot: https://eclipse.org/lists/jakarta.ee-spec/msg01066.html

[2020-10-14 11:41] ivargrimstad commented on #180
The link to the specification should be https://jakarta.ee/specifications/transactions/2.0/ and not the PR creating that page.
The same applies to TCK results page

[2020-10-15 08:22] tomjenkinson commented on #180
@ivargrimstad - thanks for the information. I updated it to:
`Jakarta Transactions 2.0 https://jakarta.ee/specifications/transactions/2.0/ (after https://github.com/jakartaee/specifications/pull/265 is merged and the site updated)`
https://jakarta.ee/specifications/transactions/2.0/ is live already with milestone data so I include the other info too but if you prefer I remove it I can

[2020-10-15 08:26] tomjenkinson commented on #180
Sharing a link to the compatible implementation PR: https://github.com/eclipse-ee4j/glassfish/pull/23245

[2020-10-15 08:29] tomjenkinson commented on #75
Thanks @arjantijms. I have checked the box above to mark that as the case.

[2020-10-15 10:19] ivargrimstad commented on #180
LGTM. Tanks!

[2020-10-26 21:00] edbratt opened #181 "Elements missing in TCK zip package"
The Transactions TCK Zip doesn't seem to have any assertions, nor does it have any of the introductory elements found in many (most?) of the other TCKs -- in docs/assertions. Also, I don't see a readme.html, maybe a release-notes.html and none of the assertions are listed.
Please coordinate with member(s) of the Jakarta EE TCK project and decide if any of these can be generated. Probably the asser

[2020-10-26 23:12] edbratt opened #182 "JavaDoc Improvements"
A few items that could be improved in the Jakarta Transaction JavaDoc:

1. The copyright in the footer should be 2019, 2020
2. The JavaDocs don't include the Spec. version (in the upper right corner) on each page. Compare [CDI JavaDocs](https://jakarta.ee/specifications/dependency-injection/2.0/apidocs/).
3. Many other Specs include e-mail list for comments (e.g. 'Comments to [jta-dev@eclipse.org]

[2020-10-27 11:45] alwin-joseph commented on #181
1. ReleaseNotes : I have created PR https://github.com/eclipse-ee4j/jakartaee-tck/pull/556 to add docs/ReleaseNotes for jta tck.
2. JTAJavadocAssertions.xml : https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/internal/docs/jta/JTAJavadocAssertions.xml looks like the older version. This needs to be updated to latest, converted to html and the html version needs to be added to https://github

[2020-10-30 00:15] arjantijms commented on #75
@tomjenkinson no problem ;) Ballot just concluded: https://eclipse.org/lists/jakarta.ee-spec/msg01233.html

[2020-11-05 17:05] dblevins opened #183 "Publish Jakarta Transactions 2.0"
I hadn't realized we added this finishing step, so many of these items may already be done.

 - [x] promotes api staging release promotes the specification api jars to maven central. An example release job script can be found here https://wiki.eclipse.org/MavenReleaseScript.
 - [x] go through the merged jakarta.ee specification website page to verify all the links are valid.
 - [x] approve the com

[2020-11-05 17:19] tomjenkinson commented on #183
Thanks @dblevins - do you know what we need to do with "approve the compatibility request" - is it something on https://github.com/eclipse-ee4j/jta-api/issues/180 ?

[2020-11-05 17:36] dblevins commented on #183
@tomjenkinson slap an "accepted" label on the issue and you're good to go :)

[2020-11-05 17:38] tomjenkinson commented on #183
Great - thanks!

[2020-11-05 17:56] tomjenkinson commented on #183
@smillidge @arjantijms do you know who will be sending the email to tck@eclipse.org, regarding Glassfish and approval for it as compatible implementation for trademark usage and when that can be expected / tracked? Thanks!

(some background in https://github.com/jakartaee/specifications/pull/25)

[2020-11-11 11:14] tomjenkinson commented on #183
It seems that the Glassfish version we certified with (https://download.eclipse.org/ee4j/glassfish/weekly/glassfish-6.0.0-SNAPSHOT-2020-10-04.zip) is no longer available from https://download.eclipse.org/ee4j/glassfish/weekly/

@dblevins - do you think I should update that link to https://ci.eclipse.org/jta/job/TCK_raw-glassfish/12/ as that has an archived version of that version of Glassfish (htt

[2020-11-11 11:49] tomjenkinson commented on #183
Checked "merge any final release branch as appropriate for the branch management for the project" having merged https://github.com/eclipse-ee4j/jta-api/issues/183 (although it wasn't directly a branch before)

[2020-11-11 12:57] arjantijms commented on #183
@tomjenkinson that exact release has been archived here:

https://github.com/eclipse-ee4j/glassfish/releases/download/6.0.0-M3-2020-10-04/glassfish-6.0.0-M3-2020-10-04.zip

[2020-11-11 14:12] tomjenkinson commented on #183
Thanks! I will raise a PR on the specifications repo

[2020-11-11 14:16] tomjenkinson commented on #183
Thanks again, I have a PR to update the link: https://github.com/jakartaee/specifications/pull/306

[2020-12-01 10:25] #75 closed

[2020-12-01 10:34] tomjenkinson commented on #183
@arjantijms I think you might have done something like this before for Jakarta Transactions 1.3 (https://github.com/jakartaee/specifications/pull/25); would you be able to help us fulfil  "The compatible implementation project/vendor MUST send an email to tck@eclipse.org for approval of the compatible implementation for trademark usage." please? I expect someone needs to send it on behalf of the s

[2020-12-01 10:35] #180 closed

[2020-12-01 14:12] arjantijms commented on #183
@tomjenkinson Indeed, I've sent these mails before. I'm on it.

[2020-12-01 14:19] arjantijms commented on #183
@tomjenkinson mail sent. CC'ed you and Steve (GF lead).

[2020-12-01 15:34] tomjenkinson commented on #183
Thanks @arjantijms ! BTW the message you sent (Approval to claim Jakarta Transactions compatibility for GlassFish 6.0.0-M3-2020-10-04) I didn't see Steve cc'd but it might just be how it arrived to me perhaps? Thanks again and I will tick the box in the initial comment and close this issue

[2020-12-01 15:34] #183 closed

[2020-12-02 17:20] jeanouii opened #185 "[TCK] JTA Transactional tests leaking"
Hi,

Some methods in the Transactional subset of JTA are implemented like this https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/jta/ee/transactional/Client.java#L420

Basically a userTransaction.begin() with catch and no finally. No commit()/rollback() seems to happen and therefor the transaction leaks into the ThreadContext and well, if you are lucky next test uses a

[2020-12-02 18:38] scottmarlow commented on #185
@jeanouii Please do supply the required information mentioned in the TCK process document:

[2020-12-15 12:43] tomjenkinson commented on #185
Thanks for providing your follow up @scottmalow and please @jeanouii, if you can follow up with the information that Scott requested that would be great.

On https://jakarta.ee/committees/specification/tckprocess/ I also noted:

Please can I ask, do you represent the implementation you are raising this for?

Many thanks for raising the topic,
Tom

[2021-02-03 08:54] grgrzybek opened #186 "Update API jar OSGi manifest headers"
Related issues:
* https://github.com/ops4j/org.ops4j.pax.transx/issues/33
* https://github.com/eclipse-ee4j/jca-api/issues/120

Related commits:
* https://github.com/javaee/javax.transaction/commit/cafce67773652a48d37f4f18cd317cfbd6371802#diff-5b28dfac4685527f0aa99f6fde21966a5347c363d64baf1680fd1db0b0f14e73

According to [Oracle JavaEE 8 components page](https://www.oracle.com/java/technologies/ja

[2021-02-03 10:18] grgrzybek commented on #186
There are also two confusing OSGi configuration elements:
1. since https://github.com/javaee/javax.transaction/commit/341344a51baea82a848d6787ba3fea89f2ce2f8d (2013), `javax.interceptor` package is imported with confusing `[1.2,1.2.98)` version range. It should be simply `[1.2,2.0)`
2. there's `<_include>-${basedir}/osgi.bundle</_include>`, a leftover from https://github.com/javaee/javax.transacti

[2021-02-03 10:26] grgrzybek commented on #186
And last thing, `javax.enterprise.context`, `javax.enterprise.util` and `javax.interceptor` package imports should be marked as optional, as they related to annotations only.
JTA API Bundle should resolve without a need to install cdi-api and interceptor-api (which requires also el-api and inject-api bundles).

[2021-02-08 11:14] tomjenkinson commented on #186
Hi @grgrzybek I am not really sure how to deal with this I don't think the OSGi metadata is part of the API of the specification. If necessary feedback could be solicited from the main platform group (https://accounts.eclipse.org/mailing-list/jakartaee-platform-dev) to decide if it is a defect.

The package kind of changed in that the sub-package (.xa) is no longer provided in the specification bu

[2021-02-08 11:34] grgrzybek commented on #186
Thanks for your feedback.
From the point of view of JavaEE/JakartaEE everything is ok. Removal of `javax.transaction.xa` package is well explained and justified.
Also the OSGi metadata is definitely not a concern of any JakartaEE expert group or API. It's only a technical flavor added by adding `maven-bundle-plugin:manifest` Maven goal to `process-classes` build phase.

From the point of view of O

[2021-02-11 11:19] grgrzybek commented on #186
PR #187 (I'm not sure about the target branch) contains:
* removal of unnecessary top-level `osgi.bundle` configuration
* update of maven-bundle-plugin to allow more flexible OSGi configuration
* switch from artificial `javax.interceptor.*;version="[1.2,1.2.98)"` import to `javax.interceptor.*;version="1.2"`, which effectively means `javax.interceptor.*;version="[1.2,∞)"`
* double export of `javax

[2021-02-11 11:44] tomjenkinson commented on #186
Thank you

[2021-03-16 11:35] tomjenkinson commented on #186
@grgrzybek given you are proposing it for removal, please can you clarify why `Require-Bundle: system.bundle` is bad?

[2021-03-16 11:39] tomjenkinson commented on #186
@grgrzybek was any of the change in the PR related to making "javax.enterprise.context, javax.enterprise.util and javax.interceptor" optional?

[2021-03-16 11:55] grgrzybek commented on #186
@tomjenkinson

`Require-Bundle: system.bundle` is a "strong coupling" between JTA API Jar (this bundle) and "system bundle" which exports big number of packages (most of JDK's own packages like java.lang). The strong coupling was used because JDK itself provided `javax.transaction` package with 3 exception classes inside it. Such strong coupling would be needed if jakarta.transaction-api didn't pr

[2021-03-16 12:07] tomjenkinson commented on #186
Thanks @grgrzybek !

[2021-03-16 15:34] tomjenkinson commented on #186
The OSGi headers are updated in master and there is a backport PR of this https://github.com/eclipse-ee4j/jta-api/pull/189 - as the change is merged in master I will close this issue but if you would like to request a 1.3.4 release then please can you send a message on https://accounts.eclipse.org/mailing-list/jta-dev

[2021-03-16 15:34] #186 closed

[2021-03-18 06:06] grgrzybek commented on #186
Thanks @tomjenkinson - I'll send a message to the mentioned mailing list.

[2021-03-29 05:42] grgrzybek commented on #186
FYI, I'm waiting a bit, because I found some issue in JAF as well: https://github.com/eclipse-ee4j/jaf/issues/67

[2021-04-17 04:35] hantsy opened #190 "@Transactional should suppot local transaction like Spring"
Like Spring, in a none-EJB and none-JTA, `@Transactional` should support `RESOURCE_LOCAL` type persistence context seamlessly in a CDI SE and Servlet/CDI  environment.

I think the Apache DeltaSpike project has been done some work like this in the past years. https://deltaspike.apache.org/documentation/data.html#Transactions

Related to https://github.com/eclipse-ee4j/jpa-api/issues/309.

[2021-04-21 11:37] tomjenkinson commented on #190
Thank you for your suggestion!
Unfortunately I am not too clear on what you are suggesting to be added to the Jakarta Transactions project to accomplish the suggestion - please can you elaborate on what the change would look like from the Jakarta Transactions api/specification point of view?

[2021-04-22 07:48] ochaloup opened #191 "CDI interceptors should marked the transaction for rollback for unchecked exceptions not only for RuntimeExceptions"
The JTA specification it's not clear about behaviour of CDI interceptor in case of unchecked exceptions. That part of the spec talks explicitly about `RuntimeException` to cause the transaction to be marked for rollback. But the spec should use term `unchecked exception` instead.

The spec says now

The part about `Synchronization` is correct as it says

The text about CDI interceptor should be al

[2021-10-06 22:04] starksm64 opened #194 "Need a 2.0.1 service release to add module-info.class to API jar"
A requirement for the EE10 release is for API jars to include a proper module-info.class. Please create a service release to include this.

eclipse-ee4j/jakartaee-platform#421

[2021-10-07 03:33] hantsy commented on #190
@tomjenkinson  I would like to port the `TransactionStrategy` of Apache DeltaSpike to Jakarta EE, and make CDI compatible `@Transactional` annotation(declaration approache) and `UserTransaction`(or something new class for programmatic approach) works with JTA or local transaction(non-JTA).

For example, in a servlet container, there is a DataSource bean declared, create a local DataSource based tr

[2021-10-19 08:26] tomjenkinson commented on #194
Great - thank you, I will go ahead and assign you.

[2021-11-22 08:28] tandraschko commented on #190
+1, really a important feature when just using CDI + JPA

[2021-11-22 12:42] tomjenkinson commented on #190
Thank you for providing feedback, please can I suggest to create a discussion on the Jakarta Transactions developer mailing list: https://accounts.eclipse.org/mailing-list/jta-dev ?

[2021-12-10 02:28] starksm64 commented on #194
@vanuatoo Ok, so there are now releases of jakarta.interceptors version=2.0.1-RC1 and jakarta.cdi version = 4.0.0.Beta3 released to maven central that have module-info in the api artifact. Retry with these versions.

[2022-01-18 09:11] jeanouii commented on #185
@tomjenkinson @scottmarlow I'd like to revive this topic and get it fixed in the TCK
I don't think it's a big fix and I'm happy to help providing a PR for it

[2022-01-18 10:58] tomjenkinson commented on #185
@jeanouii are you able to suggest why I don't notice this happening on Eclipse CI?

[2022-01-24 14:44] starksm64 commented on #194
The correct release versions are now:
jakarta.interceptor-api = 2.1.0-RC3
jakarta.enterprise.cdi-api = 4.0.0-RC3

[2022-02-03 15:32] starksm64 opened #201 "OSGi bundle manifest entries seem incorrect"
I'm no OSGi expert, but the current api pom.xml is referring to javax versions of interceptors, and cdi. The only valid javax reference is the javax.transaction.xa package. We should be using the Jakarta EE 9 packages and versions in the dependencies to match the pom versions.

[2022-02-07 16:50] tomjenkinson commented on #186
@arjantijms FYI when this PR was first raised it was against the Jakarta EE8 version (hence javax.transaction) https://github.com/eclipse-ee4j/jta-api/pull/187/files I think we should consider to change to `jakarta.transaction` now.

[2022-02-07 16:56] arjantijms commented on #186
I guess just removing the two sections

* "javax.transaction;version="1.2";uses:="javax.interceptor,javax.transaction.xa,javax.enterprise.util,javax.enterprise.context"
* "javax.transaction;version="1.3";uses:="javax.interceptor,javax.transaction.xa,javax.enterprise.util,javax.enterprise.context"

would be in order then.

[2022-02-07 16:58] tomjenkinson commented on #186
I agree and I do have a PR with this (and some other changes) at: https://github.com/eclipse-ee4j/jta-api/pull/202/files

[2022-02-20 22:53] arjantijms opened #204 "Move this repo to https://github.com/jakartaee"
In the steering committee we voted to moved all specification projects from eclipse-ee4j to jakartaee. As such this repo should move to in due time.

Moving is fairly automatic, and redirects will be automatically put in place from the current location here to the new location.

If someone can authorise the move (e.g. @tomjenkinson) I can take care of it if needed.

[2022-02-21 10:20] tomjenkinson commented on #204
Hi @arjantijms - please can I ask you to share a link to where the decision is recorded? Once we have that I would be fine to do the move myself - is it documented at all? I would welcome your involvement too if you are happy to do that.

[2022-02-21 11:10] arjantijms commented on #204
Hi, see

"We voted on it in 2019 and then in 2020 we added it explicitly to our 2021 plan and voted on that plan.  I think we just need to start executing.  I sent about 30 emails like the following in an attempt to add some shape to it and kick off the move in the spec projects.

 - https://www.eclipse.org/lists/jakartaee-platform-dev/msg02940.html
 - https://www.eclipse.org/lists/messaging-dev/m

[2022-02-21 15:44] arjantijms commented on #204
@tomjenkinson If the evidence I provided is convincing enough for you, "authorization" here really only means giving a +1. There's no need to actually give me any repo rights or so. Just to be sure ;)

[2022-02-21 15:53] tomjenkinson commented on #204
Thanks @arjantijms - https://jakarta.ee/about/meeting_minutes/steering_committee/minutes-june-11-2019.pdf works for me but IIUC we should actually move under https://github.com/jakarta-ee rather than https://github.com/jakartaee? So +1 to moving under https://github.com/jakarta-ee.

If you are happy to move us that would be great - thank you :)

[2022-02-21 16:29] arjantijms commented on #204
I think this was discussed elsewhere that the jakarta-ee was a mistake in the minutes. All the repos listed there now are old copies (it was the experimental repo that David and I did). The actual repo where the live projects were moved to is jakartaee.

[2022-02-22 16:24] arjantijms commented on #204
Transfer had been completed. Most tools and forks etc will transparently use the name location without needing updated, but it's still better/nicer to do update to the new location.

Especially the CI jobs at https://ci.eclipse.org/jta/ are best updated.

[2022-02-22 18:09] tomjenkinson commented on #204
Thank you @arjantijms.

I have updated several of the jobs in CI and the rest we can modify as we go on.

[2022-02-22 18:09] #204 closed

[2022-03-29 23:07] arjantijms opened #206 "Set about of GitHub repo"
The about of this GitHub repo currently says:

"JTA API project"

To be consistent with most other project here, it should be

"Jakarta Transactions"

Can this be changed?

[2022-03-30 00:10] edbratt commented on #206
yes, we need to file a web-dev ticket in gitlab. I've gone ahead and filed a ticket -- you're welcome to comment or just let it get picked up --- https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1091

[2022-03-30 08:39] tomjenkinson commented on #206
Thank you both - I gave the ticket a thumbs up.

@edbratt on the ticket, you referred to a gh-pages change - having had a quick look at (https://github.com/jakartaee/transactions/tree/gh-pages) I am unsure of whether it is that gh-pages you are referring to?

[2022-03-30 09:54] arjantijms commented on #206
As project lead of various other projects I could change the about myself in those projects.

[2022-03-30 10:07] tomjenkinson commented on #206
Thanks @fredg02 - and it turns out I have this access so if we need to change it again I could do it.

Thanks for the report @arjantijms and the assistance @edbratt

[2022-03-30 10:07] #206 closed

[2022-03-30 10:16] arjantijms commented on #206
Thanks at @tomjenkinson. I see you set it to "Jakarta EE Transactions API Project". It's of course your choice, but I would recommend just saying "Jakarta Transactions" there ;)

[2022-03-30 10:18] fredg02 commented on #206
That was me, I set it as requested in the HelpDesk ticket.

[2022-03-30 17:03] arjantijms commented on #206
It might also be nice to have a little bit of consistency in the overview of projects.

E.g. look at this screenshot:

<img width="470" alt="jakarta-projects" src="https://user-images.githubusercontent.com/3037006/160891253-c5f2a57c-52da-4baf-a9ea-46ac27244c1f.png">

Notice how one is not like the others ;)

[2022-03-30 17:16] tomjenkinson commented on #206
This section of the about which contains this text appears to be the "Description" field so, although it will not help with reaching consistency with those other repository that are only stating their name, perhaps we could consider change the text to `Welcome to the Jakarta Transactions API and specification repository. Jakarta Transactions enables distributed transactions to be done across multi

[2022-03-30 22:13] arjantijms commented on #206
True, though it does specify the full name. It may be a good idea to have a consistent format anyway, maybe the full name followed by the short description from here: https://jakarta.ee/specifications ?

So then it could be "Jakarta Transactions, allows handling transactions consistent with X/Open XA-spec"

[2022-03-31 10:27] tomjenkinson commented on #206
I wonder if we might be able to reach agreement through the jakartaee-spec-project-leads whether the other projects would like to follow a similar pattern?

For me I think the following components would be nice:
1. A welcoming statement
2. The name of the project
3. The scope of the repo (API, spec, TCK - as appropriate)
4. The description of the project - as @arjantijms pointed out it could come

[2022-04-19 10:28] smillidge commented on #194
2.0.1 is currently referencing CDI 3.0.1 is that correct and final? I am trying to match up for Jakarta Connectors. When I upgrade the dependency to Jakarta Transactions 2.0.1 it required me to add Jakarta CDI as a provided dependency in order to compile.

[2022-04-19 15:49] tomjenkinson commented on #194
BTW I am going to close this issue as we have the 2.0.1 with module-info but we can keep the conversation going on CDI.

[2022-04-19 15:49] #194 closed

[2022-04-19 15:50] #201 closed

[2022-08-10 18:48] dan-mytraincollection opened #208 "mvn install build fails with reference to jakarta.inject"
Hello,

I am trying to compile this library locally however the build fails with the following error:

org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project jakarta.transaction-api: Compilation failure
module not found: jakarta.inject

There seems to be an unreferenced build dependenc

[2022-09-04 14:13] arjantijms opened #209 "Standardise way to obtain the TransactionManager and TransactionSynchronizationRegistry"
Jakarta Transactions specifies the types `TransactionManager` and `TransactionSynchronizationRegistry`, but no portable way to obtain these.

As a result, as of today we still need custom integration code like the one shown below (from EclipseLink) for every known server:

[code]

I would like to propose standardising this, using either (or both) a standard JNDI name and/or an build-in CDI bean.

[2022-09-05 13:26] tomjenkinson commented on #209
I am wondering about use cases where having differently configured transaction manager / TSRs might be beneficial?

[2022-09-05 16:00] tomjenkinson commented on #209
Sorry, I was unclear. How would you propose to deal with the situation where the same JVM might want to access two differently configured transaction manager processes (from the same vendor)? Having two transaction manager instances with different JNDI names could, at least theoretically, currently be used to achieve that.

[2022-09-05 18:03] arjantijms commented on #209
I see. Isn't that the same case, more or less, as wanting to have two different `UserTransaction` instances? Is that really a thing?

If it is, I'd guess providers (or integrators) could introduce an option to not use the default name. Although it seems a theoretical issue indeed, since there's a couple of names already in use which seem to be shared between different providers.

[2022-09-05 18:04] arjantijms commented on #209
Btw, using CDI one could inject `Instance<TransactionManager>` and then iterate over the different instances.

[2022-09-05 23:34] arjantijms commented on #209
ps. I overlooked that the registry already has a standardised name:

[code]

So really only `TransactionManager` is needed.

[2022-09-06 14:22] tomjenkinson commented on #209
I think the TransactionManager is intended for access by the application server (rather than user components) so not having it readily accessible to users via JNDI/injection could be considered an advantage.

I had a quick look at EclipseLink (I might have missed some things and not understood what I found). What I wonder is whether EclipseLink could change it's use of TransactionManager to UserTr

[2022-09-06 15:06] arjantijms commented on #209
More or less, but application servers can be made pluggable as well. JoNAS for instance had that, and Piranha Cloud focusses on that too. Essentially we let the user plug-in a transaction manager (like JoTM, Narayana, Transact, etc).